.board {
  border: 1px solid black;
  height: 40vw;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.white {
  background-image: url(https://i.pinimg.com/originals/5c/12/a4/5c12a47a866871ae2d6856329b9297d3.jpg);
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(3vw, 5vw, 7px);
}

.gray {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAAjssOxwjcMd6mZKWchdVukliLWGv3q3RsA&usqp=CAU);
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(3vw, 5vw, 7px);
}

.pawn-black {
  position: relative;
  -webkit-animation: pawn-black-1 3s forwards;
          animation: pawn-black-1 3s forwards;
}

.pawn-white {
  position: relative;
  -webkit-animation: pawn-white-2 3s forwards;
          animation: pawn-white-2 3s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.horse-black {
  position: relative;
  -webkit-animation-name: horse-black, horse-black-2;
          animation-name: horse-black, horse-black-2;
  -webkit-animation-duration: 3s, 3s;
          animation-duration: 3s, 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 7s, 10s;
          animation-delay: 7s, 10s;
}

@-webkit-keyframes pawn-black-1 {
  0% {
    top: 0px;
  }
  100% {
    top: 5vw;
  }
}

@keyframes pawn-black-1 {
  0% {
    top: 0px;
  }
  100% {
    top: 5vw;
  }
}

@-webkit-keyframes pawn-white-2 {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 10vw;
  }
}

@keyframes pawn-white-2 {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 10vw;
  }
}

@-webkit-keyframes horse-black {
  0% {
    right: 0px;
  }
  100% {
    right: 5vw;
  }
}

@keyframes horse-black {
  0% {
    right: 0px;
  }
  100% {
    right: 5vw;
  }
}

@-webkit-keyframes horse-black-2 {
  0% {
    top: 0px;
  }
  100% {
    top: 10vw;
  }
}

@keyframes horse-black-2 {
  0% {
    top: 0px;
  }
  100% {
    top: 10vw;
  }
}

body {
  background-image: url(https://wallpapers.com/images/high/astonishing-mountain-fields-anime-scenery-v4ibwy5fzc20say7.jpg);
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */